html {
    height: 100%;
}

body {
    height: 100%;
    margin: auto;
}

.search-bar-container {
    padding: 20px;
}

.homePage {
}

.homePage .search-bar-container {
    display: flex;
    height: 100%;
}

.homePage .search-bar {
    margin: auto;
}
